<p id="notice"><%= notice %></p>

<h1>Listing Chats</h1>

<table style="margin-bottom: 30px">
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id='chats-content'>
    <% $chats.each do |chat| %>
      <tr>
        <td>
          <%= chat[:content] %>
        </td>
        <td>
          <%= chat[:time] %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= form_tag  '/chats', method: 'post', remote: true do%>
  <div class='row'>
    <input type="text" name="content" id="content" value="" />
  </div>
  <input type="submit" name="submit" id="submit" value="Submit" />
<% end %>

